#--trusted-host pypi.org
#--trusted-host files.pythonhosted.org

openai-whisper
numpy
pandas
#pyannote.audio
#onnxruntime
torch
#git+https://github.com/m-bain/whisperX.git
#whisperx-numpy2-compatibility
#whisperx
transformers
pypandoc
pyannote.core
pyannote.audio
pydub
accelerate>=0.26.0
transformers==4.46

langchain_community
langchainhub
langchain-huggingface

flask
python-docx

silero_vad
#razdel
pysbd
#git+https://github.com/gbvolkov/AIAssistantsLibPackage.git