#--trusted-host pypi.org
#--trusted-host files.pythonhosted.org

openai-whisper
numpy
#pyannote.audio
#onnxruntime
torch
#git+https://github.com/m-bain/whisperX.git
whisperx-numpy2-compatibility
#whisperx
transformers
pypandoc

accelerate>=0.26.0
transformers

langchain_community
langchainhub
langchain-huggingface

git+https://github.com/gbvolkov/AIAssistantsLibPackage.git