--trusted-host pypi.org
--trusted-host files.pythonhosted.org

openai-whisper
numpy<2
pyannote.audio
onnxruntime
torch
git+https://github.com/m-bain/whisperX.git
pypandoc

accelerate>=0.26.0
transformers

langchain_community
langchainhub
langchain-huggingface
